<form action="register" method="post">

    {% csrf_token %}
    <h3>Add a new User</h3>
    <input type="text" name="first_name" placeholder="First Name" required><br>
    <input type="text" name="second_name" placeholder="Second Name" required><br>
    <input type="text" name="user_name" placeholder="username" required><br>
    <input type="password" name="pass1" placeholder="Password" required><br>
    <input type="password" name="pass2" placeholder="Password" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="submit" value="Add User" />
    </form>

    <div>
        {% for message in messages%}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>